apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  ports:
    - name: tcp-{{ port }}
      port: {{ port }}
      protocol: TCP
      targetPort: {{ port }}
  selector:
    app: {{ name }}
  type: ClusterIP