apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  ports:
    - name: tcp-{{ port01 }}
      port: {{ port01 }}
      protocol: TCP
      targetPort: {{ port01 }}
    - name: tcp-{{ port02 }}
      port: {{ port02 }}
      protocol: TCP
      targetPort: {{ port02 }}
  selector:
    app: {{ name }}
  type: ClusterIP